<h1> Planes </h1>

<% @planes.each do |plane| %>
  <h4> Plane Number: <%= link_to plane.number, plane_url(plane) %> </h4>

  <% plane.flights.each do |flight| %>
    Leaving On:
    <%= flight.departure_time %>
    </br>
    From:
    <%= flight.origin_airport.name %>
    To:
    <%= flight.destination_airport.name %>
    </br>
    </br>
  <% end  %>

<% end %>