<h1>Your Profile page</h1>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div class="row">
  <div class="large-12 large-centered columns">
    <table>
      <tr>
        <th>Itinerary</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <%# @itineries.each do |itinery| %>
      <tr>
       <td><%#= itinery.name %></td>
       <td></td>
       <td></td>
      </tr>
    <%# end %>
    </table>
  </div>