$('#login_window').foundation('reveal', 'close');

<% if @user.nil? %>
  $('#errors').append("<p>Not valid login/pass</p>")
<% else %>
  var nav = $('nav.top-bar');
  nav.empty().append("<%= j render 'layouts/nav' %>");
<% end %>
